@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ffffff;
  --font-sans: var(--font-roboto-flex);
  --font-mono: var(--font-roboto-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}